# Banco de Dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/artes_camisas"

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL="https://SEU_PROJETO.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# Stripe
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
